<div class="container text-start">

    <div class="row separador-secciones">
      <div class="col-4">
        <p><b>Desde:</b>{{professionalExp.startDate}}</p>
        <p><b>Hasta:</b>{{professionalExp.endDate}}</p>
        <p><i>({{professionalExp.city}}, {{professionalExp.country}})</i></p>
      </div>
      <div class="col-8">
        <fa-icon [icon]="editIcon" class="edit-icon" (click)="professionalItemEmit(professionalExp)"></fa-icon>
        <fa-icon [icon]="removeIcon" class="remove-icon" (click)="professionalItemToDeleteEmit(professionalExp)"></fa-icon>
        <h5>{{professionalExp.enterpriseName}}</h5>
        <h6 class="cargo">{{professionalExp.position}}</h6>
        <p class="item">Descripción del trabajo desempeñado:</p>
        <p>
            {{professionalExp.description}}
        </p>
      </div>
    </div>
</div>
