<div class="container-sm">
    <form [formGroup]="hardSkillsDataForm" (ngSubmit)="onSend($event)">
        
        <label>{{hardSkills.labels[0]}}</label>
        <input 
            class="form-control form-control-sm" 
            type="number" 
            min="0" 
            max="100" 
            formControlName="data1"
            [ngModel]="hardSkills.datasets[0].data[0]"
            aria-label=".form-control-sm example">

            <label>{{hardSkills.labels[1]}}</label>
            <input 
            class="form-control form-control-sm" 
            type="number" 
            min="0" 
            max="100" 
            formControlName="data2"
            [ngModel]="hardSkills.datasets[0].data[1]"
            aria-label=".form-control-sm example">

            <label>{{hardSkills.labels[2]}}</label>
            <input 
            class="form-control form-control-sm" 
            type="number" 
            min="0" 
            max="100" 
            formControlName="data3" 
            [ngModel]="hardSkills.datasets[0].data[2]"
            aria-label=".form-control-sm example">

            <label>{{hardSkills.labels[3]}}</label>
            <input 
            class="form-control form-control-sm" 
            type="number" 
            min="0" 
            max="100" 
            formControlName="data4" 
            [ngModel]="hardSkills.datasets[0].data[3]"
            aria-label=".form-control-sm example">

            <label>{{hardSkills.labels[4]}}</label>
            <input 
            class="form-control form-control-sm" 
            type="number" 
            min="0" 
            max="100" 
            formControlName="data5" 
            [ngModel]="hardSkills.datasets[0].data[4]"
            aria-label=".form-control-sm example">

            <label>{{hardSkills.labels[5]}}</label>
            <input 
            class="form-control form-control-sm" 
            type="number" 
            min="0" 
            max="100" 
            formControlName="data6" 
            [ngModel]="hardSkills.datasets[0].data[5]"
            aria-label=".form-control-sm example">

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form> 
</div>




