.banner{
    width: 100%;
    height: 25rem;
    border: 5px solid rgb(211, 243, 253);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 25rem;
}

.banner fa-icon{
    color: rgb(37, 149, 224);;
    margin: 5% 45%;
}

.banner fa-icon:hover{
    color:white;
}

.banner fa-icon{
    display:flex;
    justify-content:center;
}

article{
    display:flex;
    flex-direction: column;
}

.banner input{
    margin: 0% 25%;
    width: 50%;
}

.banner button{
    margin: 0% 25%;
}