<!--Grilla principal de contenido --> 
<div class="container-sm text-center grilla-principal">
    <div class="row">
        <!--Columna izquierda-->
        <div class="col-5 mi-col mi-col-izquierda">
            <app-profile-image 
                [profilePicture]="profilePicture"
                (urlImageEvent)="saveProfilePicture($event)"
            ></app-profile-image>

            <div class="container link">
                <a routerLink="/interests" aria-current="interests-page">Intereses</a>
                <a routerLink="/experience" aria-current="Professional-Experience-page">Experiencia profesional</a>
                <a routerLink="/education" aria-current="Education-page">Educación</a>
            </div>
            
            
            <app-contact></app-contact>
            <app-softwares></app-softwares>
            <app-reference></app-reference>
            <app-idioms></app-idioms>
        </div>

        <!--Columna derecha-->
        <div class="col-7 mi-col mi-col-derecha">
            <app-user></app-user>

            <router-outlet></router-outlet>
            
        <!--<app-professional-exp></app-professional-exp>
            <app-education></app-education>
            <app-interests></app-interests>-->
        </div>
    </div>
</div>
