a{
    font-size: 1rem;
}

.formulario{
    margin-bottom: 15%;
}

label{
    font-weight: bold;
    text-decoration: underline;
}

.en-linea{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.fecha{
    width: 30%;
    height: 80%;
}

.normal{
    width: 50%;
    height: 80%;
}

.btn{
    width: 100%;
}

.error{
    color:red;
}
