/* You can add global styles to this file, and also import other style files */
body{
    background-color: white;
}

.encabezado{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 1px solid black;
    display:flex;
    align-content: flex-start;
    justify-content: space-between;
    margin: 15% 0;
}
