/* You can add global styles to this file, and also import other style files */
body{
    background-color: white;
}

.encabezado{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 1px solid black;
    display:flex;
    align-content: flex-start;
    justify-content: space-between;
    margin: 15% 0;
}

.cargo{
    color:darkgray;
    font-weight: bold;
}

.item{
    text-decoration: underline;
    font-weight: bold;
}

.fila-datos-basicos h1{
    margin: 5% 0;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo fa-icon{
    margin-left: 5%;
    margin-right: -5%;
}

.separador-secciones{
    border-bottom: 1px solid gray;
    margin-bottom: 10%;
}

.separador-secciones h5{
    font-weight: bold;
}

.add-icon:hover{
    color:green;    
}

.edit-icon:hover{
    color:blue;
}

.remove-icon:hover{
    color: red;
}