<div class="container-sm text-center">
    <div class="row">
        <div class="col">
          <section class="titulo">
            <h3 class="item">Hard Skills</h3>
            <fa-icon [icon]="editIcon"></fa-icon>
          </section>
          <!--Datos gráficos (con chart js) -->   
          <app-skills [doughnutChartData]="hardSkills"></app-skills>
        </div>
        <div class="col">
            <section class="titulo">
                <h3 class="item">Soft Skills</h3>
                <fa-icon [icon]="editIcon"></fa-icon>
            </section>
            <!--Datos gráficos (con chart js) -->   
            <app-skills [doughnutChartData]="softSkills"></app-skills>
        </div>
      </div>
</div>
